.header {
	background-image: radial-gradient(at 30% top, #031d33 0%, rgba(var(--darkBlue), 1) 70%);
	//height: 64px;
	//position: fixed;
	//top: 0;
	//left: 0;
	transition: top 0.2s ease-in-out;
	width: 100%;

	>div{
		background-image: radial-gradient(at 30% top, #031d33 0%, rgba(var(--darkBlue), 1) 70%);
	}

	.dropdownTitle{
		>a {
			color: #fff;
			font-weight: bold;
		}
	}

	.language{
		width: 28px;
		height: 26px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		border: 1px solid #fff;
		border-radius: 3px;
		padding: 3px 5px;
		color: #fff;
		font-weight: 600;
		font-size: 0.9em;
	}


}