@import "../../assets/scss/respond";

.banner{
  width: 100%;
  border-bottom: 1px solid var(--primaryColor);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  .layer{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(8.24%, 8.63%, 10.59%, 1.00) 150px, rgba(8.24%, 8.63%, 10.59%, 0.84) 100%);
  }

  .container{
    display: flex;
    padding: 40px 30px;
    color: #fff;

    @include respond(tab-port) {
      display: block;
    }

    .poster{
      width: 300px;
      height: auto;
      border-radius: 20px;

      @include respond(tab-port) {
        width: 200px;
      }
    }

    .content{
      flex-grow: 1;
      padding-left: 30px;
      display: flex;
      flex-flow: column;
      justify-content: center;

      @include respond(tab-port) {
        padding-left: 0;
      }

      .title{
        font-size: 2.2rem;
        font-weight: bold;
        margin-right: 10px;
      }

      .year{
        opacity: 0.8;
        font-size: 2.2rem;
        font-weight: 400;
      }

      .type{
        border: 1px solid rgba(255,255,255,0.6);
        border-radius: 2px;
        color: rgba(255,255,255,0.6);
        display: inline-flex;
        white-space: nowrap;
        align-items: center;
        align-content: center;
        padding: 0.06em 4px 0.15em 4px !important;
        margin-right: 10px;
      }

      .date{
        font-size: 1.1rem;
        margin-right: 10px;
      }

      .genres{
        margin-right: 10px;
      }

      .progressBar{
        width: 80px;
        height: 80px;
        font-weight: bold;
        background-color: #000;
        border-radius: 50%;
      }

      .score{
        font-weight: 700;
        font-size: 1.3rem;
        margin-left: 10px;
        white-space: pre-line;
      }

      .tagline{
        font-size: 1.1em;
        font-weight: 400;
        font-style: italic;
        opacity: 0.7;
        margin-bottom: 10px;
      }

      .overview{
        margin-bottom: 10px;
        div:nth-child(1) {
          font-weight: 600;
          font-size: 1.3em;
        }
      }

      .company{
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
  }



}