.movie{
  width: 150px;
  margin: 0 20px 0 20px;
  display: inline-block;
  white-space: normal;
  float: left;

  &.lg{
    width: 100% !important;
    margin: 0;
  }

  >div{
    border: none;
  }

  .movieImage{
    height: calc(150px * 1.5);
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-radius: 8px;

    &.lg{
      height: 275px;
      border-radius: 0;
    }
  }

  .overview{
    padding: 30px 10px 10px 10px;
    position: relative;

    .progressBar{
      width: 34px;
      height: 34px;
      font-weight: bold;
      background-color: #000;
      border-radius: 50%;
      position: absolute;
      left: 10px;
      top: -17px;
    }

    .title{
      font-weight: 700;
      color: #000;
      margin: 0;
    }

    .date{
      font-size: 1em;
      color: rgba(0,0,0,0.6);
    }
  }

}