@import "../../assets/scss/respond";

.grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;

  @include respond(tab-land) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
  }

  .item{
    display: inline-block;
    height: 100%;
    margin: 0 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border: 1px solid #e3e3e3;
    border-radius: 15px;
    overflow: hidden;
  }
}