.table{
  width: 260px;
  margin-right: 30px;

  .item{
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;

    .title{
      padding: 14px 16px;
      width: 100%;
      font-weight: 600;
      font-size: 1.1em;
      display: flex;
      justify-content: space-between;

      img{
        width: 16px;
        height: 16px;
        margin-top: 6px;
      }

      .arrowDown{
        transform: rotate(90deg);
      }
    }

    .content{
      border-top: 1px solid #eee;
      padding: 14px 16px;
    }
  }
}