.person{
  width: 150px;
  margin: 0 20px 0 20px;
  display: inline-block;
  white-space: normal;

  >div{
    border: none;
  }

  .personImage{
    min-height: calc(150px * 1.5);
    height: calc(150px * 1.5);
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border-radius: 8px;
  }

  .overview{
    padding: 30px 0 0 0;
    position: relative;

    .name{
      font-weight: 700;
      color: #000;
      margin: 0;
    }

    .role{
      font-size: 1em;
      color: rgba(0,0,0,0.6);
    }
  }

}