@import "../../assets/scss/respond";

.outer{
  margin-bottom: 40px;
  max-width: 920px;
  width: 60vw;

  @include respond(tab-land) {
    width: 48vw;
  }

  @include respond(tab-port) {
    width: 64vw;
  }

  .title{
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 30px;
  }

  .list{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    padding-bottom: 20px;
  }
}